.github{
    background-color: @headerbackground;
    border-color: @headerfont;
    color: @headerfont;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    width: 50%;
    font-size: 3rem;
    border-radius: 12px;
    margin-top: 30px; 
    // float: left;
    // margin-left: 50px;
    // margin: 10px;
    // display:flex;
    // align-content: center;
}